[Unit]
Description=YOLO FastAPI Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/YoloServiceFursa
ExecStart=/home/ubuntu/YoloServiceFursa/.venv/bin/python3 /home/ubuntu/YoloServiceFursa/app.py
Restart=on-failure
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
